    table.c14 {background-color: #F6F6EF}
    img.c13 {padding-bottom:8px}
    img.c12 {padding-bottom:12px}
    tr.c11 {height:15px}
    span.c10 {color: #000000}
    div.c9 {margin-top:2px; margin-bottom:-10px;}
    div.c8 {text-align: center}
    tr.c7 {height:10px}
    td.c6 {background-color: #FF6600}
    table.c5 {padding:2px}
    td.c4 {text-align:right;padding-right:4px;}
    td.c3 {line-height:12pt; height:10px;}
    td.c2 {width:18px;padding-right:4px}
    img.c1 {border:1px #ffffff solid;}

